@using WfcWebApp.Wfc

<div style="display: flex; flex-direction: column; gap: 8px;">
	<label>
		<input type="checkbox" @bind="Wrap" />
		Wrap around edges
	</label>

	<label>
		<input type="checkbox" @bind="RotationalSymmetry" />
		Use rotational symmetry
	</label>

	<label>
		Output Width:
		<input type="number" @bind="OutputWidth" min="10" max="1024" style="width: 80px;" />
	</label>

	<label>
		Output Height:
		<input type="number" @bind="OutputHeight" min="10" max="1024" style="width: 80px;" />
	</label>
</div>



@code {
	//TODO add convSize parameter to config, slider to page above
	public bool Wrap { get; set; } = true;
	public bool RotationalSymmetry { get; set; } = true;
	public int OutputWidth { get; set; } = 32;
	public int OutputHeight { get; set; } = 32;

	public WfcConfig GetConfig() => new()
	{
		Wrap = Wrap,
		RotationalSymmetry = RotationalSymmetry,
		OutputWidth = OutputWidth,
		OutputHeight = OutputHeight
	};
}


