@page "/"
@using WfcWebApp.Utils

<PageTitle>Texture Generator</PageTitle>

<h3>Texture Generator</h3>
<p>
    Generate seamless, wrapping textures of any size using wave function collapse!<br/>
    Upload a suitable input texture below:
</p>

<Upload OnImageChanged="@HandleImageChanged"/>
<DrawableCanvas Image="@userInputImage"/>

@code {
    private IndexedImage userInputImage = IndexedImage.CreateBlank(32, 32);
    private void HandleImageChanged(IndexedImage image) {
        userInputImage = image;
    }
}