@page "/"
@using WfcWebApp.Utils

<PageTitle>Home</PageTitle>

<h1>Testing Zone</h1>

<Upload OnImageChanged="@HandleImageChanged"/>
<DrawableCanvas Image="@userInputImage"/>

@code {
    private IndexedImage userInputImage = IndexedImage.CreateBlank(32, 32);
    private void HandleImageChanged(IndexedImage image) {
        userInputImage = image;
    }
}