@page "/texture"
@inject IJSRuntime JS
@using WfcWebApp.Wfc

<script src="imageUtils.js"></script>

<PageTitle>Texture Generator</PageTitle>

<h3>Texture Generator</h3>
<p>
    Generate seamless, wrapping textures of any size using wave function collapse!<br/>
    Upload a suitable input texture below:
</p>



@code {
    
}